@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

    *{
      margin:0;
      font-family: 'Hanken Grotesk';
      color:white ;
    }

    body{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    main{
      width: 50%;
      height: 50vh;
      min-height: 450px;
      display: flex;
      justify-content: center;
      flex-direction:row ;

    }


    
    .left{
      background:linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
      max-width: 35%;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      border-radius: 30px;
      box-shadow: -2px 0 2px 2px rgb(0, 0, 0, .1);

    }

    .right{
      position: relative;
      left: -25px;
      background-color: white;
      max-width: 50%;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      padding: 0 10px 0 50px;
      border-radius: 0 20px 20px 0;
      z-index: 0;
      box-shadow: 2px 0 2px 2px rgb(0, 0, 0, .1);
      

    }

    .circle{
      width: 55%;
      height: 40%;
      background:linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 10%;
    }

    #result, #summary{
      font-weight: 500;
      font-size: 20px;
      margin-top: 10%
      
    }

    #score{
      font-size: 5em;
      font-weight: 800;
    }

    #outOf{
      font-weight: 500;
      opacity: .55;
    }

    .sub{
      margin-top: 5%;
      text-align: center;
      padding: 0 15%;
    }

    #mark{
      font-size: 30px;
      font-weight: 800;
    }

    #desc{
      margin-top: 5%;
      font-size: 15px;
      opacity: .7;
    }

    #summary{
      color: hsl(224, 30%, 27%);
      font-weight: 800;
    }

    #data{
      width: 100%;
      height: 60%;
      margin-top: 10%;
    }

    .stat{
      width: 90%;
      height: 50px;
      margin-top: 10px;
      background-color: red;
      border-radius:10px;
      display: flex;
      justify-content: space-between;
      
    }

    .statLeft, .statRight{
      display: flex;
      padding-left:10px;
      align-items: center;
      padding-right: 10px;
    }

    

    .reaction{
      background-color: hsla(0, 100%, 67%, .03);
    }

    .reaction p{
      color: hsl(0, 100%, 67%);
      font-weight: 600;
      margin-left: 10px;
    }
    .memory{
      background-color: hsla(39, 100%, 56%, .03);
      color: hsl(39, 100%, 56%);
    }

    .memory p{
      color: hsl(39, 100%, 56%);
      font-weight: 600;
      margin-left: 10px;
    }

    .verbal{
      background-color: hsla(166, 100%, 37%, .03);
      color: hsl(166, 100%, 37%);
    }

    .verbal p{
      color:  hsl(166, 100%, 37%);;
      font-weight: 600;
      margin-left: 10px;
    }

    .visual{
      background-color: hsla(234, 85%, 45%, .03);
      color: hsl(234, 85%, 45%);
    }

    .visual p{
      color: hsl(234, 85%, 45%);
      font-weight: 600;
      margin-left: 10px;
    }
    
    .scoreStat{
      color:hsl(224, 30%, 27%);
    }

    .maxStatScore{
      color:hsl(233, 9%, 62%);
    }

    .continue{
      background-color: hsl(224, 30%, 27%);
      padding: 15px;
      width: 90%;
      border-radius: 20px;
      border: none;
      cursor: pointer;
    }

    .continue:hover{
      background:linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%))
    }

    @media screen and (max-width: 425px) {

      

      body{
      height: 100vh;
      display: flex;
      justify-content: center;
      overflow: hidden;

    }

    main{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction:column ;
      justify-content: start;
      overflow: hidden;

    }

    .left{
      min-width: 100%;
      height: 50vh;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      overflow: hidden;

    }
    .right{
      min-width: 100%;
      height: 50vh;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;

    }

    .circle{
      width: 45%;
      height: 40%;
      background:linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 10%;
    }
    }